<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                        http://www.springframework.org/schema/cache    
           				http://www.springframework.org/schema/cache/spring-cache-4.3.xsd "> 
                         
	<!-- 1.使用spring提供的PropertyPlaceholderConfigurer读取memcache.properties配置文件 -->
		<!-- 
		<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:xMemcached.properties</value>
				</list>
			</property>
		</bean> -->
	<context:property-placeholder location="xMemcached.properties"/>
	
	<!-- 2.配置Memcached客户端工厂 -->
	<bean id="memcachedClientBuilder" 
		  class="net.rubyeye.xmemcached.XMemcachedClientBuilder"  
          p:connectionPoolSize="${memcached.connectionPoolSize}"  
          p:failureMode="${memcached.failureMode}">  
        <!-- XMemcachedClientBuilder have two arguments.First is server list,and   
            second is weights array. -->  
        <constructor-arg>  
            <list>  
                <bean class="java.net.InetSocketAddress">  
                    <constructor-arg>  
                        <value>${memcached.server1.host}</value>  
                    </constructor-arg>  
                    <constructor-arg>  
                        <value>${memcached.server1.port}</value>  
                    </constructor-arg>  
                </bean>  
                <bean class="java.net.InetSocketAddress">  
                    <constructor-arg>  
                        <value>${memcached.server2.host}</value>  
                    </constructor-arg>  
                    <constructor-arg>  
                        <value>${memcached.server2.port}</value>  
                    </constructor-arg>  
                </bean>  
                <bean class="java.net.InetSocketAddress">  
                    <constructor-arg>  
                        <value>${memcached.server3.host}</value>  
                    </constructor-arg>  
                    <constructor-arg>  
                        <value>${memcached.server3.port}</value>  
                    </constructor-arg>  
                </bean>  
                <bean class="java.net.InetSocketAddress">  
                    <constructor-arg>  
                        <value>${memcached.server4.host}</value>  
                    </constructor-arg>  
                    <constructor-arg>  
                        <value>${memcached.server4.port}</value>  
                    </constructor-arg>  
                </bean>  
            </list>  
        </constructor-arg>  
        <constructor-arg>  
            <list>  
                <value>${memcached.server1.weight}</value>  
                <value>${memcached.server2.weight}</value>  
                <value>${memcached.server3.weight}</value>  
                <value>${memcached.server4.weight}</value>  
            </list>  
        </constructor-arg>  
        <property name="commandFactory"><!-- 协议工厂-->
            <bean class="net.rubyeye.xmemcached.command.TextCommandFactory" />  
        </property>  
        <property name="sessionLocator"><!-- 分布策略 -->
            <bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator" />  
        </property>  
        <property name="transcoder"><!-- 序列化转换器 -->
            <bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />  
        </property>  
    </bean>  
	
	<!-- 3.声明Memcached客户端 -->
	<bean id="memcachedClient"  
	 	  factory-bean="memcachedClientBuilder"  
	 	  factory-method="build"  
	  	  destroy-method="shutdown" />  
</beans>















