<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/books_10_Servlet和JSP(下)/src/com/dragon/www/unit01_1/FindCookieServlet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dragon.www.unit01_1.FindCookieServlet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="books_10_Servlet和JSP(下)"/>
</launchConfiguration>
